force-app/main/default/flows/Inherit_LegalEntity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_LegalEntity_from_Order</name>
        <label>Set Legal Entity from Order</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>OUT_LegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_OrderProduct.Order.Account.LegalEntity__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_LegalEntity_from_OrderProduct</name>
        <label>Set Legal Entity from Order Product</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>OUT_LegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_OrderProduct.blng__BillingAccount__r.LegalEntity__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_LegalEntity_from_QuoteLine</name>
        <label>Set Legal Entity from Quote Line</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>OUT_LegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_OrderProduct.SBQQ__QuoteLine__r.LegalEntity__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>LegalEntity_defined_at_OrderProduct</name>
        <label>Legal Entity defined at Order Product?</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>LegalEntity_defined_at_QuoteLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BillingAccount_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IN_OrderProduct.blng__BillingAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LegalEntity_from_OrderProduct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LegalEntity_defined_at_QuoteLine</name>
        <label>Legal Entity defined at Quote Line?</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Set_LegalEntity_from_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LegalEntity_QuoteLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IN_OrderProduct.SBQQ__QuoteLine__r.LegalEntity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LegalEntity_from_QuoteLine</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Obtains the (Billing) Legal Entity to apply to an Order Product from one of its related objects.</description>
    <interviewLabel>Inherit Legal Entity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inherit Legal Entity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LegalEntity_defined_at_OrderProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IN_OrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OUT_LegalEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
