force-app/main/default/flows/Initialize_OrderProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Add the records to a queue and update them all at once at the end to avoid callouts to the database inside a loop.</description>
        <name>AddTo_UpdateQueue</name>
        <label>Add to Update Queue</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_ConsumptionSchedules</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ConsumptionSchedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inherit_Fields_from_OrderProduct</name>
        <label>Inherit Fields from Order Product</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_ConsumptionSchedules.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalEntity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_ConsumptionSchedules.blng__TaxRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__TaxRule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_ConsumptionSchedules.blng__BillingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__BillingRule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_ConsumptionSchedules.blng__RevenueRecognitionRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RevenueRecognitionRule__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTo_UpdateQueue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_ConsumptionSchedule</name>
        <label>Has Consumption Schedule?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_OrderProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasConsumptionSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ConsumptionSchedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_ConsumptionSchedules</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Populates fields required to generate invoices through Salesforce Billing.</description>
    <interviewLabel>Initialize Order Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initialize Order Product</label>
    <loops>
        <name>Loop_through_ConsumptionSchedules</name>
        <label>Loop through Consumption Schedules</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_ConsumptionSchedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Inherit_Fields_from_OrderProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ConsumptionSchedule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ConsumptionSchedule</name>
        <label>Get Consumption Schedule</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_ConsumptionSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__LegalEntity__c</queriedFields>
        <queriedFields>blng__TaxRule__c</queriedFields>
        <queriedFields>blng__BillingRule__c</queriedFields>
        <queriedFields>blng__RevenueRecognitionRule__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ConsumptionSchedule</name>
        <label>Update Consumption Schedule</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Update_OrderProduct</targetReference>
        </connector>
        <inputReference>ConsumptionSchedule_Updated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OrderProduct</name>
        <label>Update Order Product</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>blng__LegalEntity__c</field>
            <value>
                <elementReference>LegalEntity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inherit_LegalEntity</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Inherit_LegalEntity</name>
        <label>Inherit Legal Entity</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Get_ConsumptionSchedule</targetReference>
        </connector>
        <flowName>Inherit_LegalEntity</flowName>
        <inputAssignments>
            <name>IN_OrderProduct</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>LegalEntity</assignToReference>
            <name>OUT_LegalEntity</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ConsumptionSchedule_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__OrderItemConsumptionSchedule__c</objectType>
    </variables>
    <variables>
        <name>LegalEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
