force-app/main/default/flows/RevenueCloud_DeleteRelated_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_CreditNote</name>
        <label>Get Credit Note</label>
        <locationX>1220</locationX>
        <locationY>1023</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_DebitNote</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>blng__CreditNote__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_Billing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>blng__CreditNote__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_CreditNote</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_DebitNote</name>
        <label>Get Debit Note</label>
        <locationX>1347</locationX>
        <locationY>1023</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Records_DebitNote</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>blng__DebitNote__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_Billing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>blng__DebitNote__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_DebitNote</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>986</locationX>
        <locationY>1023</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Refund</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>blng__Payment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_Billing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>blng__Payment__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_Payment</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_PaymentTransaction</name>
        <label>Get Payment Transaction</label>
        <locationX>983</locationX>
        <locationY>1553</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Records_PaymentTransaction</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>blng__PaymentTransaction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_Billing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>blng__PaymentTransaction__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_PaymentTransaction</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Refund</name>
        <label>Get Refund</label>
        <locationX>1102</locationX>
        <locationY>1023</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_CreditNote</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>blng__Refund__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_Billing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>blng__Refund__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_Refund</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Filters_BillingObjects</name>
        <label>Set Filters - Billing Objects</label>
        <locationX>845</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Filters_Billing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Billing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Filters_BillingObjects_0</name>
        <label>Set Filters - Billing Objects</label>
        <locationX>849</locationX>
        <locationY>1553</locationY>
        <assignmentItems>
            <assignToReference>Filters_Billing</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filters_Billing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filters_Billing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PaymentTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Queue</name>
        <label>Add to Queue</label>
        <locationX>1007</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>Queue_Invoice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error</name>
        <label>Error</label>
        <locationX>1567</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Filters_Billing</name>
        <label>Assign Filters - Billing Objects</label>
        <locationX>845</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>Filter_Billing.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>blng__Invoice__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_Billing.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_Billing.fieldCollectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoices_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Filters_BillingObjects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filters_Billing_0</name>
        <label>Assign Filters - Billing Objects</label>
        <locationX>849</locationX>
        <locationY>1411</locationY>
        <assignmentItems>
            <assignToReference>Filter_Billing.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>blng__RequestInvoice__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_Billing.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_Billing.fieldCollectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoices_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Filters_BillingObjects_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success</name>
        <label>Success</label>
        <locationX>844</locationX>
        <locationY>1959</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Test_Variable</name>
        <label>Add Test Variable</label>
        <locationX>655</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>Invoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Single_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_ID_to_CollectionVariable</name>
        <label>Copy ID to Collection Variable</label>
        <locationX>1133</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>Invoices_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Edit_Record</name>
        <label>Edit Record</label>
        <locationX>1010</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>Loop_Records.blng__InvoiceStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_ID_to_CollectionVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_InputVariable</name>
        <label>Use Input Variable</label>
        <locationX>820</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>Invoices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_Invoices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Records_CreditNote</name>
        <label>Found Records?</label>
        <locationX>1214</locationX>
        <locationY>1177</locationY>
        <defaultConnector>
            <targetReference>Found_Records_Refund</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CreditNote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_CreditNote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_CreditNote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_DebitNote</name>
        <label>Found Records?</label>
        <locationX>1339</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Found_Records_CreditNote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DebitNote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_DebitNote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_DebitNote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Payment</name>
        <label>Found Records?</label>
        <locationX>976</locationX>
        <locationY>1188</locationY>
        <defaultConnector>
            <targetReference>Assign_Filters_Billing_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Payment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_PaymentTransaction</name>
        <label>Found Records?</label>
        <locationX>978</locationX>
        <locationY>1716</locationY>
        <defaultConnector>
            <targetReference>Assign_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PaymentTransaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_PaymentTransaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_PaymentTransaction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Refund</name>
        <label>Found Records?</label>
        <locationX>1096</locationX>
        <locationY>1179</locationY>
        <defaultConnector>
            <targetReference>Found_Records_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Redund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Refund</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Refund</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Test</name>
        <label>Is Test?</label>
        <locationX>725</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Use_InputVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IN_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>728</locationX>
        <locationY>580</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Revenue Cloud - Delete Related {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Delete Related - Account</label>
    <loops>
        <name>Loop_Records</name>
        <label>Loop through Records</label>
        <locationX>846</locationX>
        <locationY>705</locationY>
        <collectionReference>Invoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Edit_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Filters_Billing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_CreditNote</name>
        <label>Credit Note</label>
        <locationX>1217</locationX>
        <locationY>1330</locationY>
        <connector>
            <targetReference>Found_Records_Refund</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>Queue_CreditNote</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_DebitNote</name>
        <label>Debit Note</label>
        <locationX>1346</locationX>
        <locationY>1328</locationY>
        <connector>
            <targetReference>Found_Records_CreditNote</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>Queue_DebitNote</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Payment</name>
        <label>Payment</label>
        <locationX>985</locationX>
        <locationY>1329</locationY>
        <connector>
            <targetReference>Assign_Filters_Billing_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>Queue_Payment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_PaymentTransaction</name>
        <label>Payment Transaction</label>
        <locationX>981</locationX>
        <locationY>1859</locationY>
        <connector>
            <targetReference>Assign_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>Queue_PaymentTransaction</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Refund</name>
        <label>Refund</label>
        <locationX>1095</locationX>
        <locationY>1330</locationY>
        <connector>
            <targetReference>Found_Records_Payment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>Queue_Refund</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Single_Record</name>
        <label>Get Single Record</label>
        <locationX>652</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Test_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IN_Invoice</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Test</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Filter_Billing</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filters_Billing</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filters_Transaction</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_Invoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_Invoices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
    <variables>
        <name>Invoices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
    <variables>
        <name>Invoices_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Queue_CreditNote</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__CreditNote__c</objectType>
    </variables>
    <variables>
        <name>Queue_DebitNote</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__DebitNote__c</objectType>
    </variables>
    <variables>
        <name>Queue_Invoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
    <variables>
        <name>Queue_Payment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Payment__c</objectType>
    </variables>
    <variables>
        <name>Queue_PaymentAuthorization</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__PaymentAuthorization__c</objectType>
    </variables>
    <variables>
        <name>Queue_PaymentTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__PaymentTransaction__c</objectType>
    </variables>
    <variables>
        <name>Queue_Refund</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Refund__c</objectType>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
