force-app/main/default/flows/RevenueCloud_UploadUsage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <dynamicChoiceSets>
        <name>ConsumptionSchedule_Choice</name>
        <dataType>String</dataType>
        <displayField>SBQQ__UnitOfMeasure__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputAssignments>
            <assignToReference>MatchingAttribute</assignToReference>
            <field>SBQQ__MatchingAttribute__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UnitOfMeasure</assignToReference>
            <field>SBQQ__UnitOfMeasure__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrderProduct_Choice</name>
        <dataType>String</dataType>
        <displayField>ProductName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputAssignments>
            <assignToReference>OrderProduct_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MatchingID</assignToReference>
            <field>OrderItemNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NextBillingDate</assignToReference>
            <field>blng__NextBillingDate__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Revenue Cloud - Upload Usage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Upload Usage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Usage</name>
        <label>Create Usage</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>blng__EndDateTime__c</field>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__MatchingAttribute__c</field>
            <value>
                <elementReference>MatchingAttribute</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__MatchingId__c</field>
            <value>
                <elementReference>MatchingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__StartDateTime__c</field>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__UnitOfMeasure__c</field>
            <value>
                <elementReference>UnitOfMeasure</elementReference>
            </value>
        </inputAssignments>
        <object>blng__Usage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_First_ConsumptionSchedule</name>
        <label>Get First Consumption Schedule</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_ConsumptionSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputAssignments>
            <assignToReference>ConsumptionSchedule_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Select_ConsumptionSchedule</name>
        <label>Select - Consumption Schedule</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Usage</targetReference>
        </connector>
        <fields>
            <name>OrderProduct_Selected</name>
            <choiceReferences>OrderProduct_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OrderProduct_ID</elementReference>
            </defaultValue>
            <fieldText>Order Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Selector_ConsumptionSchedule</name>
            <choiceReferences>ConsumptionSchedule_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </defaultValue>
            <fieldText>Unit of Measure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>DateTime</name>
            <dataType>DateTime</dataType>
            <fieldText>Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_OrderProduct</name>
        <label>Select - Order Product</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_First_ConsumptionSchedule</targetReference>
        </connector>
        <fields>
            <name>Selector_OrderProduct</name>
            <choiceReferences>OrderProduct_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_OrderProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConsumptionSchedule_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingAttribute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextBillingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProduct_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitOfMeasure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
