force-app/main/default/flows/RevenueCloud_BillNow_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Display_Message</name>
        <label>Display Message</label>
        <locationX>536</locationX>
        <locationY>1022</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Message_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>Message_Type</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Record</name>
        <label>Refresh Record</label>
        <locationX>536</locationX>
        <locationY>902</locationY>
        <actionName>c:refreshView</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Display_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Cannot_Order_Quote</name>
        <label>Cannot Order Quote</label>
        <locationX>404</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>Message_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activate the order first</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Orders_Created</name>
        <label>Orders Created</label>
        <locationX>668</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Message_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Orders_Activated</name>
        <label>Orders Activated?</label>
        <locationX>536</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Cannot_Order_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Activated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_BillNow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Revenue Cloud - Bill Now - Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Bill Now - Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>536</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Orders_Activated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>blng__BillNow__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_BillNow</name>
        <label>Check Bill Now</label>
        <locationX>668</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>Orders_Created</targetReference>
        </connector>
        <inputReference>Get_Order</inputReference>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>536</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Refresh_Record</targetReference>
        </connector>
        <fields>
            <name>nav</name>
            <extensionName>c:finishNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Message_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Message_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
