force-app/main/default/flows/RevenueCloud_BillNow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DisplayMessage</name>
        <label>Display Message</label>
        <locationX>248</locationX>
        <locationY>1310</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>MessageText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>MessageType</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RefreshRecord</name>
        <label>Refresh Record</label>
        <locationX>248</locationX>
        <locationY>1190</locationY>
        <actionName>c:refreshView</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>DisplayMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>InvoiceGenerated</name>
        <label>Invoice Generated</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice generated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_more_OrderProducts_to_Invoice</name>
        <label>No more Order Products to Invoice</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There are no Order Products left to Invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>info</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PostInvoices_and_Retry</name>
        <label>Post Invoices and Retry</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post all Invoices and retry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Invoices_Unposted</name>
        <label>Invoices Unposted?</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Earliest_NextBillingDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UnpostedInvoices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UnpostedInvoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostInvoices_and_Retry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderProducts_Left_to_Invoice</name>
        <label>Order Products Left to Invoice?</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>No_more_OrderProducts_to_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OrderProductsLeftToInvoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EarliestNBD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BillNow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Revenue Cloud - Bill Now {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Bill Now</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Earliest_NextBillingDate</name>
        <label>Get Earliest Next Billing Date</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderProducts_Left_to_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>EarliestNBD</assignToReference>
            <field>EarliestNextBillingDate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_UnpostedInvoices</name>
        <label>Get Unposted Invoices</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoices_Unposted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__InvoiceStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rebilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BillNow</name>
        <label>Bill Now</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>InvoiceGenerated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__BillNow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>248</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RefreshRecord</targetReference>
        </connector>
        <fields>
            <name>nav</name>
            <extensionName>c:finishNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_UnpostedInvoices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EarliestNBD</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
