force-app/main/default/flows/RevenueCloud_RenewContract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Load_Renew_Values</name>
        <label>Load Renew Values</label>
        <locationX>991</locationX>
        <locationY>901</locationY>
        <assignmentItems>
            <assignToReference>RenewalType_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Renew</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalType_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Creates a Quote with the renewed products</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalType_Icons</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>SelectRenewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_RenewalForecast_Values</name>
        <label>Load Renewal Forecast Values</label>
        <locationX>992</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>RenewalType_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Forecast</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalType_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Creates an Opportunity to track the expected revenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalType_Icons</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_RenewalQuotes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>1072</locationX>
        <locationY>1197</locationY>
        <defaultConnector>
            <targetReference>Set_RenewalQuoted_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Renew</defaultConnectorLabel>
        <rules>
            <name>Forecast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectRenewalType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Forecast</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RenewalForecasted_Flag</targetReference>
            </connector>
            <label>Forecast</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_RenewalOpportunity</name>
        <label>Has Renewal Opportunity?</label>
        <locationX>1088</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>Load_RenewalForecast_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasRenewalOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RenewalOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RenewalQuotes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_RenewalQuote</name>
        <label>Has Renewal Quote?</label>
        <locationX>1079</locationX>
        <locationY>770</locationY>
        <defaultConnector>
            <targetReference>Load_Renew_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasRenewalQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RenewalQuotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectRenewal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>RevenueCloud_RenewContract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Renew Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_RenewalOpportunities</name>
        <label>Get Renewal Opportunities</label>
        <locationX>1096</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_RenewalOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__RenewedContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RenewalQuotes</name>
        <label>Get Renewal Quotes</label>
        <locationX>1087</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_RenewalQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RenewalOpportunities.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_RenewalForecasted_Flag</name>
        <label>Set Renewal Forecasted Flag</label>
        <locationX>971</locationX>
        <locationY>1331</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__RenewalForecast__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_RenewalQuoted_Flag</name>
        <label>Set Renewal Quoted Flag</label>
        <locationX>1192</locationX>
        <locationY>1341</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__RenewalQuoted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <screens>
        <name>SelectRenewal</name>
        <label>Select Renewal</label>
        <locationX>1080</locationX>
        <locationY>1057</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <fields>
            <name>SelectRenewalType</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>RenewalType_Labels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>RenewalType_Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>RenewalType_Descriptions</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_RenewalOpportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalType_Descriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalType_Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalType_Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
