force-app/main/default/flows/RevenueCloud_Initialize_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Account_BillTo_Contact</name>
        <label>Assign Account Bill To Contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__PrimaryContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__r.blng__BillToContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blank_StartDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Use the start of the year to simplify demos.</description>
        <name>Set_Year_Start</name>
        <label>Set Year Start</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate_YearStart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blank_SubscriptionTerm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Use 12 months because it&apos;s the most common contract duration</description>
        <name>Set_Yearly_Term</name>
        <label>Set Yearly Term</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Defaults</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Blank_Contact</name>
        <label>Blank Contact</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Blank_StartDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Blank_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_BillTo_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Blank_StartDate</name>
        <label>Blank Start Date</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Blank_SubscriptionTerm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Blank_StartDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Year_Start</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Blank_SubscriptionTerm</name>
        <label>Blank Subscription Term</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Blank_SubscriptionTerm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionTerm</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Yearly_Term</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Initializes the following Quote (CPQ) values if left blank: Price Book, Primary Contact, Start Date, Subscription Term.</description>
    <formulas>
        <name>StartDate_YearStart</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),1,1)</expression>
    </formulas>
    <interviewLabel>Revenue Cloud - Initialize Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Initialize Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Quote_Defaults</name>
        <label>Update Quote Defaults</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <inputAssignments>
            <field>SBQQ__PrimaryContact__c</field>
            <value>
                <elementReference>PrimaryContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>SubscriptionTerm</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Blank_Contact</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PrimaryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.SBQQ__PrimaryContact__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubscriptionTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.SBQQ__SubscriptionTerm__c</elementReference>
        </value>
    </variables>
</Flow>
