force-app/main/default/flows/RevenueCloud_Initialize_OrderProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_LegalEntity_from_Order</name>
        <label>Set Legal Entity from Order</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>LegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order.Account.LegalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OrderProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LegalEntity_from_OrderProduct</name>
        <label>Set Legal Entity from Order Product</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>LegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__BillingAccount__r.LegalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OrderProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LegalEntity_from_QuoteLine</name>
        <label>Set Legal Entity from Quote Line</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>LegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.LegalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OrderProduct</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>LegalEntity_defined_at_OrderProduct</name>
        <label>Legal Entity defined at Order Product?</label>
        <locationX>248</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>LegalEntity_defined_at_QuoteLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BillingAccount_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__BillingAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LegalEntity_from_OrderProduct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LegalEntity_defined_at_QuoteLine</name>
        <label>Legal Entity defined at Quote Line?</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_LegalEntity_from_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LegalEntity_QuoteLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.LegalEntity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LegalEntity_from_QuoteLine</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added the Legal Entity inheritance</description>
    <interviewLabel>RevenueCloud_Initialize_OrderProduct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Initialize Order Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_OrderProduct</name>
        <label>Update Order Product</label>
        <locationX>248</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>blng__LegalEntity__c</field>
            <value>
                <elementReference>LegalEntity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LegalEntity_defined_at_OrderProduct</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ConsumptionSchedule_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__OrderItemConsumptionSchedule__c</objectType>
    </variables>
    <variables>
        <name>LegalEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
