force-app/main/default/flows/RevenueCloud_UploadUsage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateUsageRecords</name>
        <label>Create Usage Records</label>
        <locationX>574</locationX>
        <locationY>600</locationY>
        <actionName>ConvertCSVToRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_RecordsCSV</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__convertedCSVRows</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentIdList</name>
            <value>
                <elementReference>UploadCSV.contentDocumentIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateFormat</name>
            <value>
                <stringValue>DD/MM/YYYY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>blng__Usage__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSep</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DSep</name>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TSep</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vCur</name>
            <value>
                <stringValue>£</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>UsageRecords_CSV</assignToReference>
            <name>convertedCSVRows</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Join_Usages</name>
        <label>Join Usages</label>
        <locationX>404</locationX>
        <locationY>1108</locationY>
        <actionName>JoinCollections</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Duplicates</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection2</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Usages_Linked</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection2</name>
            <value>
                <elementReference>Usages</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Usages_Joined</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Link_to_OrderProduct</name>
        <label>Link to Order Product</label>
        <locationX>405</locationX>
        <locationY>1224</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Join_Usages</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Usages_Table.outputSelectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;blng__MatchingId__c&quot; : &quot;{!MatchingID}&quot;, &quot;blng__OrderProduct__c&quot; : &quot;{!OrderProduct_ID}&quot;</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Usages_Linked</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Remove_Duplicates</name>
        <label>Remove Duplicates</label>
        <locationX>405</locationX>
        <locationY>988</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PreviewRecords</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Usages_Joined</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Usages</assignToReference>
            <name>outputRecordCollection</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_Queue</name>
        <label>Add to Queue</label>
        <locationX>479</locationX>
        <locationY>1617</locationY>
        <assignmentItems>
            <assignToReference>Usages_CreateQueue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_SelectedUsages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_SelectedUsages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Usage_to_List</name>
        <label>Add Usage to List</label>
        <locationX>207</locationX>
        <locationY>902</locationY>
        <assignmentItems>
            <assignToReference>Usages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UsageRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PreviewRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FakeId</name>
        <label>Assign Fake Id</label>
        <locationX>207</locationX>
        <locationY>1352</locationY>
        <assignmentItems>
            <assignToReference>UsageRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageId_Fake</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Usage_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CleanIds</name>
        <label>Clean Ids</label>
        <locationX>385</locationX>
        <locationY>1542</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_SelectedUsages.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FakeIds</name>
        <label>Fake Ids</label>
        <locationX>383</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_RecordsCSV.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageId_Fake</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FakeIds_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FakeIds_0</name>
        <label>Fake Ids</label>
        <locationX>477</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>Usages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_RecordsCSV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_RecordsCSV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_UsageRecord</name>
        <label>Initialize Usage Record</label>
        <locationX>574</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>UsageRecord.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.blng__UnitOfMeasure__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.blng__MatchingAttribute__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.blng__Quantity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.blng__StartDateTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.blng__EndDateTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CreateUsageRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_UsageRecord</name>
        <label>Update Usage Record</label>
        <locationX>1099</locationX>
        <locationY>1889</locationY>
        <assignmentItems>
            <assignToReference>UsageRecord.blng__UnitOfMeasure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.blng__MatchingAttribute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingAttribute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.blng__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.blng__StartDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageRecord.blng__EndDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_NextActiveUsageSummary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateConsumptionSchedule</name>
        <label>Update Consumption Schedule</label>
        <locationX>1246</locationX>
        <locationY>1794</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule_ID_Previous</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule_Updated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_BaseConsumptionRate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOrderProduct</name>
        <label>Update Order Product</label>
        <locationX>789</locationX>
        <locationY>1676</locationY>
        <assignmentItems>
            <assignToReference>OrderProduct_ID_Previous</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct_Updated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_First_ConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CSV_Choice</name>
        <choiceText>CSV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CSV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manual_Choice</name>
        <choiceText>Manual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_UsageBucket</name>
        <label>Is Usage Bucket?</label>
        <locationX>946</locationX>
        <locationY>1794</locationY>
        <defaultConnector>
            <targetReference>UpdateOrderProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsageBucket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bucket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BucketMessageConfirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigation</name>
        <label>Navigation</label>
        <locationX>1090</locationX>
        <locationY>1541</locationY>
        <defaultConnector>
            <targetReference>Update_UsageRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Usage</defaultConnectorLabel>
        <rules>
            <name>OrderProductUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderProduct_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderProduct_ID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OrderProduct_ID_Previous</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_UsageBucket</targetReference>
            </connector>
            <label>Order Product Updated</label>
        </rules>
        <rules>
            <name>ConsumptionScheduleUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionSchedule_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConsumptionSchedule_ID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ConsumptionSchedule_ID_Previous</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateConsumptionSchedule</targetReference>
            </connector>
            <label>Consumption Schedule Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordAction_Decision</name>
        <label>Record Action</label>
        <locationX>566</locationX>
        <locationY>1372</locationY>
        <defaultConnector>
            <targetReference>Loop_through_SelectedUsages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordAction.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_ConsumptionSchedule_0_0</targetReference>
            </connector>
            <label>Link</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordAction.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_ConsumptionSchedule_0</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordAction.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>UseCSV_Decision</name>
        <label>Use CSV?</label>
        <locationX>1088</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>Select_ConsumptionSchedule_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UseCSV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadCSV.contentDocumentIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_UsageRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ConsumptionSchedule_Choice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputAssignments>
            <assignToReference>MatchingAttribute</assignToReference>
            <field>SBQQ__MatchingAttribute__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UnitOfMeasure</assignToReference>
            <field>SBQQ__UnitOfMeasure__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrderProduct_Choice</name>
        <dataType>String</dataType>
        <displayField>ProductName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UsageType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputAssignments>
            <assignToReference>OrderProduct_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MatchingID</assignToReference>
            <field>OrderItemNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsageType</assignToReference>
            <field>UsageType__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Quantity_Default</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!UpperBound},{!LowerBound})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UsageId_Fake</name>
        <dataType>String</dataType>
        <expression>&quot;a2c8d00NEW21lC&quot; + IF({!Usage_Counter} &lt; 10, &quot;000&quot;, IF( {!Usage_Counter} &lt; 100, &quot;00&quot;, IF( {!Usage_Counter} &lt; 1000, &quot;0&quot;, &quot;&quot;) ) ) + TEXT({!Usage_Counter})</expression>
    </formulas>
    <interviewLabel>Revenue Cloud - Upload Usage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Upload Usage</label>
    <loops>
        <name>Loop_through_RecordsCSV</name>
        <label>Loop through Records</label>
        <locationX>574</locationX>
        <locationY>735</locationY>
        <collectionReference>UsageRecords_CSV</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FakeIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PreviewRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_SelectedUsages</name>
        <label>Loop through Selected Usages</label>
        <locationX>574</locationX>
        <locationY>1542</locationY>
        <collectionReference>Usages_Table.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CleanIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Usage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Usage</name>
        <label>Create Usage</label>
        <locationX>574</locationX>
        <locationY>1725</locationY>
        <inputReference>Usages_CreateQueue</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ActiveUsageSummary</name>
        <label>Get Active Usage Summary</label>
        <locationX>1387</locationX>
        <locationY>1377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_ConsumptionSchedule_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputAssignments>
            <assignToReference>SummaryEndDate</assignToReference>
            <field>blng__SummaryEndDate__c</field>
        </outputAssignments>
        <sortField>blng__SummaryEndDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_BaseConsumptionRate</name>
        <label>Get Base Consumption Rate</label>
        <locationX>1387</locationX>
        <locationY>1794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ActiveUsageSummary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionRate__c</object>
        <outputAssignments>
            <assignToReference>LowerBound</assignToReference>
            <field>SBQQ__LowerBound__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UpperBound</assignToReference>
            <field>SBQQ__UpperBound__c</field>
        </outputAssignments>
        <sortField>SBQQ__ProcessingOrder__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_First_ConsumptionSchedule</name>
        <label>Get First Consumption Schedule</label>
        <locationX>789</locationX>
        <locationY>1385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_ConsumptionSchedule_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputAssignments>
            <assignToReference>ConsumptionSchedule_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_NextActiveUsageSummary</name>
        <label>Get Next Active Usage Summary</label>
        <locationX>207</locationX>
        <locationY>1889</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_FakeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryEndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>SummaryEndDate</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputAssignments>
            <assignToReference>SummaryEndDate</assignToReference>
            <field>blng__SummaryEndDate__c</field>
        </outputAssignments>
        <sortField>blng__SummaryEndDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>BucketMessageConfirmation</name>
        <label>Bucket Message Confirmation</label>
        <locationX>789</locationX>
        <locationY>1798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>UpdateOrderProduct</targetReference>
        </connector>
        <fields>
            <name>BucketMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This is a Usage Bucket. Are you sure you want to upload usage directly?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PreviewRecords</name>
        <label>Preview Records</label>
        <locationX>574</locationX>
        <locationY>910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RecordAction_Decision</targetReference>
        </connector>
        <fields>
            <name>RecordAction</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Link&quot;,&quot;value&quot;:&quot;Link&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:link&quot;},{&quot;label&quot;:&quot;New&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:add&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Usages_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>blng__Usage__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>blng__Usage__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Usages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>blng__UnitOfMeasure__c:true, blng__MatchingAttribute__c:true, blng__Quantity__c:true, blng__StartDateTime__c:true, blng__EndDateTime__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>ProductName__c,blng__MatchingId__c,blng__UnitOfMeasure__c,blng__MatchingAttribute__c,blng__Quantity__c,blng__StartDateTime__c,blng__EndDateTime__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>ProductName__c:139, blng__MatchingId__c:139, blng__UnitOfMeasure__c:139, blng__MatchingAttribute__c:139, blng__Quantity__c:139, blng__StartDateTime__c:139, blng__EndDateTime__c:139</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>ProductName__c:true, blng__MatchingId__c:true, blng__UnitOfMeasure__c:true, blng__MatchingAttribute__c:true, blng__StartDateTime__c:true, blng__EndDateTime__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_ConsumptionSchedule_0</name>
        <label>Select - Consumption Schedule</label>
        <locationX>1098</locationX>
        <locationY>1377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigation</targetReference>
        </connector>
        <fields>
            <name>Select_ConsumptionSchedule_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_ConsumptionSchedule_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrderProduct</name>
                    <choiceReferences>OrderProduct_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>OrderProduct_ID</elementReference>
                    </defaultValue>
                    <fieldText>Order Product</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_ConsumptionSchedule_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConsumptionSchedule</name>
                    <choiceReferences>ConsumptionSchedule_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule_ID</elementReference>
                    </defaultValue>
                    <fieldText>Consumption Schedule</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OrderProduct_Updated</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_ConsumptionSchedule_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_ConsumptionSchedule_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Quantity_Default</elementReference>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_ConsumptionSchedule_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DateTime</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>SummaryEndDate</elementReference>
                    </defaultValue>
                    <fieldText>Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ConsumptionSchedule_Updated</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_ConsumptionSchedule_0_0</name>
        <label>Select - Consumption Schedule</label>
        <locationX>403</locationX>
        <locationY>1369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Link_to_OrderProduct</targetReference>
        </connector>
        <fields>
            <name>OrderProduct_0</name>
            <choiceReferences>OrderProduct_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OrderProduct_ID</elementReference>
            </defaultValue>
            <fieldText>Order Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_StartWithCSV</name>
        <label>Select - Start with CSV</label>
        <locationX>1096</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UseCSV_Decision</targetReference>
        </connector>
        <fields>
            <name>StartWithCSV_Meesage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;(Optional) Start with a CSV file&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadCSV</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>acceptedFormats</name>
                <value>
                    <stringValue>.csv</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Select_StartWithCSV</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConsumptionSchedule_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsumptionSchedule_ID_Previous</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsumptionSchedule_Updated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LowerBound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MatchingAttribute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProduct_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProduct_ID_Previous</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProduct_Updated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummaryEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitOfMeasure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedContentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpperBound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Usage_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UsageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>UsageRecords_CSV</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>Usages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>Usages_CreateQueue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>Usages_Joined</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>Usages_Linked</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>UsageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
