force-app/main/default/flows/RevenueCloud_BillNow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>InvoiceGenerated</name>
        <label>Invoice Generated</label>
        <locationX>1496</locationX>
        <locationY>1453</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice generated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_more_OrderProducts_to_Invoice</name>
        <label>No more Order Products to Invoice</label>
        <locationX>1677</locationX>
        <locationY>1458</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There are no Order Products left to Invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>info</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PostInvoices_and_Retry</name>
        <label>Post Invoices and Retry</label>
        <locationX>1095</locationX>
        <locationY>1460</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post all Invoices and retry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BucketsPresent_Decision</name>
        <label>Buckets Present?</label>
        <locationX>1399</locationX>
        <locationY>1208</locationY>
        <defaultConnector>
            <targetReference>BillNow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BucketsPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ActiveUsageSummaryBuckets.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasUsageProducts</name>
        <label>Has Usage Products?</label>
        <locationX>1409</locationX>
        <locationY>531</locationY>
        <defaultConnector>
            <targetReference>OverrideEffectiveDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasUsageProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UsageProducts.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Empty_ActiveUsageSummaries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoices_Unposted</name>
        <label>Invoices Unposted?</label>
        <locationX>1088</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Get_EarliestNextBillingDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UnpostedInvoices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UnpostedInvoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostInvoices_and_Retry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderProducts_Left_to_Invoice</name>
        <label>Order Products Left to Invoice?</label>
        <locationX>1670</locationX>
        <locationY>531</locationY>
        <defaultConnector>
            <targetReference>No_more_OrderProducts_to_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OrderProductsLeftToInvoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EarliestNBD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_UsageProducts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UsageRecordsMissing</name>
        <label>Usage Records Missing?</label>
        <locationX>1256</locationX>
        <locationY>688</locationY>
        <defaultConnector>
            <targetReference>OverrideEffectiveDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsageRecordsMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Empty_ActiveUsageSummaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UsageRecordsMissing_Confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>NextBillingDate_AdjustedForUsageSummary</name>
        <dataType>Date</dataType>
        <expression>{!EarliestNBD} - 1</expression>
    </formulas>
    <interviewLabel>Revenue Cloud - Bill Now {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Bill Now</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_ActiveUsageSummaryBuckets</name>
        <label>Get Active Usage Summary Buckets</label>
        <locationX>1407</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BucketsPresent_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryEndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NextBillingDate_AdjustedForUsageSummary</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bucket__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__UsageSummary__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EarliestNextBillingDate</name>
        <label>Get Earliest Next Billing Date</label>
        <locationX>1678</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderProducts_Left_to_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__NextBillingDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__HoldBilling__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputAssignments>
            <assignToReference>EarliestNBD</assignToReference>
            <field>blng__NextBillingDate__c</field>
        </outputAssignments>
        <sortField>blng__NextBillingDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Empty_ActiveUsageSummaries</name>
        <label>Get Empty Active Usage Summaries</label>
        <locationX>1264</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UsageRecordsMissing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryEndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NextBillingDate_AdjustedForUsageSummary</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__UsageCount__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Bucket__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__UsageSummary__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UnpostedInvoices</name>
        <label>Get Unposted Invoices</label>
        <locationX>1096</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoices_Unposted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__InvoiceStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rebilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UsageProducts</name>
        <label>Get Usage Products</label>
        <locationX>1543</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasUsageProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UsageType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Minimum Commitment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BillNow</name>
        <label>Bill Now</label>
        <locationX>1496</locationX>
        <locationY>1321</locationY>
        <connector>
            <targetReference>InvoiceGenerated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__BillNow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>OverrideEffectiveDate</name>
        <label>Override Effective Date</label>
        <locationX>1407</locationX>
        <locationY>906</locationY>
        <connector>
            <targetReference>Get_ActiveUsageSummaryBuckets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OverrideEffectiveDate__c</field>
            <value>
                <elementReference>EarliestNBD</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>1414</locationX>
        <locationY>1685</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayMessageScreen</name>
            <fieldText>&lt;p&gt;{!MessageText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UsageRecordsMissing_Confirmation</name>
        <label>Usage Records Missing</label>
        <locationX>1254</locationX>
        <locationY>906</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>OverrideEffectiveDate</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;There are Usage Records missing for the Active Period. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Do you still want to continue?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_UnpostedInvoices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContinueAnyway</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Continue</stringValue>
        </value>
    </variables>
    <variables>
        <name>EarliestNBD</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
