force-app/main/default/flows/RevenueCloud_InitializeTaxRule_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_TaxRule_OneTime</name>
        <label>Set Tax Rule - One-Time</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>TaxRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OneTimeTax.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TaxRule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TaxRule_Recurring</name>
        <label>Set Tax Rule - Recurring</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>TaxRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecurringTax.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TaxRule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TaxRule_Usage</name>
        <label>Set Tax Rule - Usage</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>TaxRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_UsageTax.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TaxRule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChargeType</name>
        <label>Charge Type</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Get_UsageTax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Usage</defaultConnectorLabel>
        <rules>
            <name>OneTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OneTimeTax</targetReference>
            </connector>
            <label>One-Time</label>
        </rules>
        <rules>
            <name>Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecurringTax</targetReference>
            </connector>
            <label>Recurring</label>
        </rules>
    </decisions>
    <interviewLabel>Revenue Cloud - Initialize Tax Rule (Product) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Initialize Tax Rule (Product)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OneTimeTax</name>
        <label>Get One-Time Tax</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TaxRule_OneTime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Tax Rule</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxRule__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecurringTax</name>
        <label>Get Recurring Tax</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TaxRule_Recurring</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Tax Rule</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxRule__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UsageTax</name>
        <label>Get Usage Tax</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TaxRule_Usage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Tax Rule</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxRule__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TaxRule</name>
        <label>Update Tax Rule</label>
        <locationX>314</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>blng__TaxRule__c</field>
            <value>
                <elementReference>TaxRule</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ChargeType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__TaxRule__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TaxRule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
