force-app/main/default/flows/RevenueCloud_UpdateProductStandardPrice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_UpdateQueue</name>
        <label>Add to Update Queue</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntries_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PriceBookEntry_Updated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_PriceBookEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_NewStandardPrice</name>
        <label>Load New Standard Price</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>StandardPrice_New</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StandardPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_StandardPriceBook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatePrice</name>
        <label>Update Price</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntry_Updated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PriceBookEntries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntry_Updated.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdateQueue</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>UpdatedPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_through_PriceBookEntries.UnitPrice} * ( {!StandardPrice_New} / {!StandardPrice_Old} )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Revenue Cloud - Update Product Standard Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Update Product Standard Price</label>
    <loops>
        <name>Loop_through_PriceBookEntries</name>
        <label>Loop through Price Book Entries</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_NonStandard_PriceBookEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdatePrice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_NonStandard_PriceBookEntries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NonStandard_PriceBookEntries</name>
        <label>Get Non-Standard Price Book Entries</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_PriceBookEntries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_StandardPriceBook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_StandardPriceBook</name>
        <label>Get Standard Price Book</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_StandardPriceBookEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_StandardPriceBookEntry</name>
        <label>Get Standard Price Book Entry</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NonStandard_PriceBookEntries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_StandardPriceBook.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>StandardPriceBookEntry_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StandardPrice_Old</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_NonStandard_PriceBookEntries</name>
        <label>Update Non-Standard Price Book Entries</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Update_StandardPriceBookEntry</targetReference>
        </connector>
        <inputReference>PriceBookEntries_Updated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_StandardPriceBookEntry</name>
        <label>Update Standard Price Book Entry</label>
        <locationX>176</locationX>
        <locationY>1391</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StandardPriceBookEntry_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>StandardPrice_New</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Load_NewStandardPrice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StandardPrice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PriceBookEntries_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PriceBookEntry_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>StandardPrice_New</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>StandardPrice_Old</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>StandardPriceBookEntry_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
