force-app/main/default/flows/RevenueCloud_Order_TriggerAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Activated</name>
        <label>Set to Activated</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Draft</name>
        <label>Set to Draft</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_Draft</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Activated</defaultConnectorLabel>
        <rules>
            <name>Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Activated</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_ActionType</name>
        <label>Select Action Type</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Toggle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status</targetReference>
            </connector>
            <label>Status</label>
        </rules>
        <rules>
            <name>AutoPost_Toggle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AutoPost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Toggle_AutoPost</targetReference>
            </connector>
            <label>Auto-Post</label>
        </rules>
        <rules>
            <name>Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Toggle_Contract</targetReference>
            </connector>
            <label>Contract</label>
        </rules>
    </decisions>
    <formulas>
        <name>Action</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Order.Status},&quot;Draft&quot;,&quot;Activate&quot;,&quot;Activated&quot;,&quot;Deactivate&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>AutoPost_Toggled</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!Get_Order.AutoPostInvoice__c})</expression>
    </formulas>
    <formulas>
        <name>Contracted_Toggled</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!Get_Order.SBQQ__Contracted__c})</expression>
    </formulas>
    <interviewLabel>Revenue Cloud - Order - Trigger Action</interviewLabel>
    <label>Revenue Cloud - Order - Trigger Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_ActionType</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AutoPostInvoice__c</queriedFields>
        <queriedFields>SBQQ__Contracted__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Toggle_AutoPost</name>
        <label>Toggle Auto-Post</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AutoPostInvoice__c</field>
            <value>
                <elementReference>AutoPost_Toggled</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Toggle_Contract</name>
        <label>Toggle Contract</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Contracted__c</field>
            <value>
                <elementReference>Contracted_Toggled</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
