force-app/main/default/flows/RevenueCloud_RecognizeRevenue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Initialize_RevenueTransaction</name>
        <label>Initialize Revenue Transaction</label>
        <locationX>429</locationX>
        <locationY>1243</locationY>
        <assignmentItems>
            <assignToReference>RevenueTransaction.blng__RevenueSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RevenueSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevenueTransaction.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RevenueSchedule.blng__LegalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevenueTransaction.blng__RevenueRecognitionGLRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RevenueSchedule.blng__RevenueRecognitionGLRule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevenueTransaction.blng__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recognized</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevenueTransaction.blng__RevenueAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RevenueAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevenueTransaction.blng__RevenueFinancePeriod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancePeriod.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevenueTransaction.blng__OrderProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RevenueSchedule.blng__OrderProduct__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_RevenueTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DeferredRevenue</name>
        <label>Set Deferred Revenue</label>
        <locationX>429</locationX>
        <locationY>1099</locationY>
        <assignmentItems>
            <assignToReference>RevenueTransaction.blng__DeferredBalance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RevenueSchedule.blng__TotalRevenueAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevenueTransaction.blng__DeferredBalance__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>RevenueTransaction.blng__PreviouslyRecognizedRevenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevenueTransaction.blng__DeferredBalance__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>RevenueAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_RevenueTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PreviouslyRecognizedRevenue_0</name>
        <label>Set Previously Recognized Revenue</label>
        <locationX>653</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>RevenueTransaction.blng__PreviouslyRecognizedRevenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_RevenueTransaction.blng__PreviouslyRecognizedRevenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevenueTransaction.blng__PreviouslyRecognizedRevenue__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Last_RevenueTransaction.blng__RevenueAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_RemainingRevenue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RemainingRevenue</name>
        <label>Set Remaining Revenue</label>
        <locationX>535</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>RemainingRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RevenueSchedule.blng__TotalRevenueAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingRevenue</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>RevenueTransaction.blng__PreviouslyRecognizedRevenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FullyRecognized</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZeroOut_PreviouslyRecognizedRevenue</name>
        <label>Zero Out Previously Recognized Revenue</label>
        <locationX>417</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>RevenueTransaction.blng__PreviouslyRecognizedRevenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_RemainingRevenue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FullyRecognized</name>
        <label>Fully Recognized?</label>
        <locationX>528</locationX>
        <locationY>828</locationY>
        <defaultConnector>
            <targetReference>SelectRevenueAmount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FullyRecognized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemainingRevenue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoMoreRevenueToRecognize</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_First_RevenueTransaction</name>
        <label>Is First Revenue Transaction?</label>
        <locationX>528</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>Set_PreviouslyRecognizedRevenue_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FirstRevenueTransaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_RevenueTransaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ZeroOut_PreviouslyRecognizedRevenue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Revenue Cloud - Recognize Revenue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Recognize Revenue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_RevenueTransaction</name>
        <label>Create Revenue Transaction</label>
        <locationX>429</locationX>
        <locationY>1381</locationY>
        <inputReference>RevenueTransaction</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Last_RevenueTransaction</name>
        <label>Get Last Revenue Transaction</label>
        <locationX>536</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_First_RevenueTransaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__RevenueSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RevenueSchedule.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__RevenueTransaction__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RevenueSchedule</name>
        <label>Get Revenue Schedule</label>
        <locationX>536</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_RevenueTransaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__RevenueSchedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>NoMoreRevenueToRecognize</name>
        <label>No More Revenue to Recognize</label>
        <locationX>644</locationX>
        <locationY>962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The revenue has been fully recognized&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectRevenueAmount</name>
        <label>Select Revenue Amount</label>
        <locationX>429</locationX>
        <locationY>957</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_DeferredRevenue</targetReference>
        </connector>
        <fields>
            <name>SelectRevenueAmount_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectRevenueAmount_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RevenueAmount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>RemainingRevenue</elementReference>
                    </defaultValue>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The recognized amount must be lower than the total revenue. If you need something different, use the Revenue Adjustment action.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!RevenueAmount} &lt;= {!Get_RevenueSchedule.blng__TotalRevenueAmount__c}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectRevenueAmount_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinancePeriod</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>blng__RevenueFinancePeriod__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Finance Period</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>blng__RevenueTransaction__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_RevenueSchedule</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemainingRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RevenueTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__RevenueTransaction__c</objectType>
    </variables>
</Flow>
