force-app/main/default/flows/RevenueCloud_DeleteRelated_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Disable_Billing_Triggers</name>
        <label>Disable Billing Triggers</label>
        <locationX>846</locationX>
        <locationY>901</locationY>
        <actionName>SetBillingConfig</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Filters_Billing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enable_Billing_Triggers</name>
        <label>Enable Billing Triggers</label>
        <locationX>850</locationX>
        <locationY>1684</locationY>
        <actionName>SetBillingConfig</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Filters_CPQ</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerState</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>1010</locationX>
        <locationY>1987</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Records_Contract</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Contract</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_CPQ</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_Contract</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>971</locationX>
        <locationY>1199</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Records_Invoice</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>blng__Invoice__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_Billing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>blng__Invoice__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_Invoice</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_OrderProduct</name>
        <label>Get Order Product</label>
        <locationX>985</locationX>
        <locationY>1522</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Records_OrderProduct</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>OrderItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_Standard</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>OrderItem</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_OrderProduct</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Filters_Billing</name>
        <label>Set Filters - Billing</label>
        <locationX>845</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>Filters_Billing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Billing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Filters_CPQ</name>
        <label>Set Filters - CPQ Objects</label>
        <locationX>850</locationX>
        <locationY>1988</locationY>
        <assignmentItems>
            <assignToReference>Filters_CPQ</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_CPQ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Filters_Satndard</name>
        <label>Set Filters - Standard</label>
        <locationX>846</locationX>
        <locationY>1522</locationY>
        <assignmentItems>
            <assignToReference>Filters_Standard</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Standard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OrderProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Queue</name>
        <label>Add to Queue</label>
        <locationX>1008</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>Queue_Order</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filters_Billing</name>
        <label>Assign Filters - Billing</label>
        <locationX>846</locationX>
        <locationY>1060</locationY>
        <assignmentItems>
            <assignToReference>Filter_Billing.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>blng__Order__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_Billing.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_Billing.fieldCollectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Orders_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Filters_Billing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filters_CPQ</name>
        <label>Assign Filters - CPQ Objects</label>
        <locationX>850</locationX>
        <locationY>1837</locationY>
        <assignmentItems>
            <assignToReference>Filter_CPQ.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SBQQ__Order__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_CPQ.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_CPQ.fieldCollectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Orders_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Filters_CPQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filters_Standard</name>
        <label>Assign Filters - Standard</label>
        <locationX>846</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Filter_Standard.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_Standard.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_Standard.fieldCollectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Orders_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Filters_Satndard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Test_Variable</name>
        <label>Add Test Variable</label>
        <locationX>655</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>Orders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Single_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_ID_to_CollectionVariable</name>
        <label>Copy ID to Collection Variable</label>
        <locationX>1133</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>Orders_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_InputVariable</name>
        <label>Use Input Variable</label>
        <locationX>820</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>Orders</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_Orders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Records_Contract</name>
        <label>Found Records?</label>
        <locationX>1162</locationX>
        <locationY>1989</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IN_Delete_Contract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Contract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Invoice</name>
        <label>Found Records?</label>
        <locationX>1092</locationX>
        <locationY>1208</locationY>
        <defaultConnector>
            <targetReference>Assign_Filters_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IN_Delete_Invoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelated_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_OrderProduct</name>
        <label>Found Records?</label>
        <locationX>1118</locationX>
        <locationY>1531</locationY>
        <defaultConnector>
            <targetReference>Enable_Billing_Triggers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OrderProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_OrderProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IN_Delete_OrderProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelated_OrderProduct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Test</name>
        <label>Is Test?</label>
        <locationX>725</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Use_InputVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IN_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>728</locationX>
        <locationY>579</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added delete selectors</description>
    <interviewLabel>Revenue Cloud - Delete Related - Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Delete Related - Order</label>
    <loops>
        <name>Loop_Records</name>
        <label>Loop through Records</label>
        <locationX>846</locationX>
        <locationY>705</locationY>
        <collectionReference>Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_ID_to_CollectionVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Disable_Billing_Triggers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Contract</name>
        <label>Contract</label>
        <locationX>1311</locationX>
        <locationY>1986</locationY>
        <inputReference>Queue_Contract</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Invoice</name>
        <label>Invoice</label>
        <locationX>1250</locationX>
        <locationY>1363</locationY>
        <connector>
            <targetReference>Assign_Filters_Standard</targetReference>
        </connector>
        <inputReference>Queue_Invoice</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Single_Record</name>
        <label>Get Single Record</label>
        <locationX>652</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Test_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IN_Order</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Test</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DeleteRelated_Invoice</name>
        <label>Delete Related - Invoice</label>
        <locationX>1250</locationX>
        <locationY>1206</locationY>
        <connector>
            <targetReference>Delete_Invoice</targetReference>
        </connector>
        <flowName>RevenueCloud_DeleteRelated_Invoice</flowName>
        <inputAssignments>
            <name>IN_Invoices</name>
            <value>
                <elementReference>Queue_Invoice</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>DeleteRelated_OrderProduct</name>
        <label>Delete Related - Order Product</label>
        <locationX>1290</locationX>
        <locationY>1530</locationY>
        <connector>
            <targetReference>Enable_Billing_Triggers</targetReference>
        </connector>
        <flowName>RevenueCloud_DeleteRelated_OrderProduct</flowName>
        <inputAssignments>
            <name>IN_OrderProducts</name>
            <value>
                <elementReference>Queue_OrderProduct</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Filter_Billing</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filter_CPQ</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filter_Standard</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filters_Billing</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filters_CPQ</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filters_Standard</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_Delete_Contract</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IN_Delete_Invoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IN_Delete_OrderProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IN_Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_Orders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Orders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Orders_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Queue_Contract</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>Queue_Invoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
    <variables>
        <name>Queue_Order</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Queue_OrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
