force-app/main/default/flows/RevenueCloud_DeleteRelated_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>963</locationX>
        <locationY>1053</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Records_Order</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Order</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_CPQ</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_Order</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Filters_CPQ</name>
        <label>Set Filters - CPQ</label>
        <locationX>844</locationX>
        <locationY>1053</locationY>
        <assignmentItems>
            <assignToReference>Filters_CPQ</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_CPQ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Queue</name>
        <label>Add to Queue</label>
        <locationX>1008</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>Queue_Quote</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filters_CPQ</name>
        <label>Assign Filters - CPQ</label>
        <locationX>844</locationX>
        <locationY>902</locationY>
        <assignmentItems>
            <assignToReference>Filter_CPQ.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_CPQ.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_CPQ.fieldCollectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quotes_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Filters_CPQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Test_Variable</name>
        <label>Add Test Variable</label>
        <locationX>655</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>Quotes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Single_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_ID_to_CollectionVariable</name>
        <label>Copy ID to Collection Variable</label>
        <locationX>1133</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>Quotes_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Edit_Record</name>
        <label>Edit Record</label>
        <locationX>1010</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>Loop_Records.SBQQ__Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_ID_to_CollectionVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_InputVariable</name>
        <label>Use Input Variable</label>
        <locationX>820</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>Quotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_Quotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Records_Order</name>
        <label>Found Records?</label>
        <locationX>1073</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelated_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Test</name>
        <label>Is Test?</label>
        <locationX>725</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Use_InputVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IN_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>728</locationX>
        <locationY>579</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Revenue Cloud - Delete Related - Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Delete Related - Quote</label>
    <loops>
        <name>Loop_Records</name>
        <label>Loop through Records</label>
        <locationX>846</locationX>
        <locationY>705</locationY>
        <collectionReference>Quotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Edit_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Filters_CPQ</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Order</name>
        <label>Order</label>
        <locationX>1335</locationX>
        <locationY>1054</locationY>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
        <inputReference>Queue_Order</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Single_Record</name>
        <label>Get Single Record</label>
        <locationX>652</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Test_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IN_Quote</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Quote</label>
        <locationX>844</locationX>
        <locationY>1226</locationY>
        <inputReference>Queue_Quote</inputReference>
    </recordUpdates>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Test</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DeleteRelated_Order</name>
        <label>Delete Related - Order</label>
        <locationX>1209</locationX>
        <locationY>1054</locationY>
        <connector>
            <targetReference>Delete_Order</targetReference>
        </connector>
        <flowName>RevenueCloud_DeleteRelated_Order</flowName>
        <inputAssignments>
            <name>IN_Orders</name>
            <value>
                <elementReference>Queue_Order</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Queue_Order</assignToReference>
            <name>Queue_Order</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Filter_Billing</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filter_CPQ</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filter_Standard</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filters_CPQ</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filters_Standard</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_Quote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_Quotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>Queue_Contract</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>Queue_Invoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
    <variables>
        <name>Queue_Order</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Queue_OrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Queue_Quote</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>Quotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>Quotes_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
