force-app/main/default/flows/RevenueCloud_PostInvoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Invoice_not_in_Draft</name>
        <label>Invoice not in Draft</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_MessageText_InvoiceNotDraft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_MessageType_InvoiceNotDraft</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invoice_Posted</name>
        <label>Invoice Posted</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice was Posted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invoice_Posted_0</name>
        <label>Invoice Posted</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fix the Tax Error before posting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Draft</name>
        <label>Is in Draft?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Invoice_not_in_Draft</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Draft</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.blng__InvoiceStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaxError</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaxError</name>
        <label>Tax Error?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Post_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_TaxError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.blng__TaxStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Posted_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Action</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Invoice.blng__InvoiceStatus__c},&quot;Draft&quot;,&quot;Post&quot;,&quot;Posted&quot;,&quot;Cancel &amp; Rebill&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>FX_MessageText_InvoiceNotDraft</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!Get_Invoice.blng__InvoiceStatus__c}),
&quot;Posted&quot;, &quot;Invoice is already Posted&quot;,
&quot;Post In progress&quot;, &quot;Invoice is Posting, please wait&quot;,
&quot;Invoice is in &quot; + TEXT({!Get_Invoice.blng__InvoiceStatus__c}) + &quot;, change it and try again&quot;
)</expression>
    </formulas>
    <formulas>
        <name>FX_MessageType_InvoiceNotDraft</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!Get_Invoice.blng__InvoiceStatus__c}),
&quot;Posted&quot;, &quot;info&quot;,
&quot;Post In progress&quot;, &quot;warning&quot;,
&quot;error&quot;
)</expression>
    </formulas>
    <interviewLabel>Revenue Cloud - Post Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Post Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Draft</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__InvoiceStatus__c</queriedFields>
        <queriedFields>blng__TaxStatus__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Post_Invoice</name>
        <label>Post Invoice</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Invoice_Posted</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__InvoiceStatus__c</field>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </inputAssignments>
        <object>blng__Invoice__c</object>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OutcomeMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!MessageText}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
