force-app/main/default/flows/RevenueCloud_Initialize_PriceBook.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Account_BillTo_Contact</name>
        <label>Assign Account Bill To Contact</label>
        <locationX>1400</locationX>
        <locationY>874</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_Quote.SBQQ__Account__r.blng__BillToContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blank_StartDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Default_PriceBook</name>
        <label>Assign Account Default</label>
        <locationX>1420</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>PriceBook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_Quote.SBQQ__Account__r.PriceBook__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blank_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>1214</locationX>
        <locationY>1240</locationY>
        <assignmentItems>
            <assignToReference>IN_Quote.SBQQ__PriceBook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceBook</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IN_Quote.SBQQ__PrimaryContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IN_Quote.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Use the start of the year to simplify demos.</description>
        <name>Set_Year_Start</name>
        <label>Set Year Start</label>
        <locationX>1405</locationX>
        <locationY>1052</locationY>
        <assignmentItems>
            <assignToReference>StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate_YearStart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Blank_Contact</name>
        <label>Blank Contact</label>
        <locationX>1197</locationX>
        <locationY>784</locationY>
        <defaultConnector>
            <targetReference>Blank_StartDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Blank_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_BillTo_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Blank_PriceBook</name>
        <label>Blank Price Book?</label>
        <locationX>1176</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Blank_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Blank_PriceBook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriceBook</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Account_Default</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Blank_StartDate</name>
        <label>Blank Start Date</label>
        <locationX>1199</locationX>
        <locationY>977</locationY>
        <defaultConnector>
            <targetReference>Assign_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Blank_StartDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Year_Start</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Account_Default</name>
        <label>Has Account Default?</label>
        <locationX>1355</locationX>
        <locationY>467</locationY>
        <defaultConnector>
            <targetReference>Assign_Global_Default_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Default_PriceBook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IN_Quote.SBQQ__Account__r.PriceBook__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Default_PriceBook</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>StartDate_YearStart</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),1,1)</expression>
    </formulas>
    <interviewLabel>Initialize Price Book {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Initialize - Price Book</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Assign_Global_Default_PriceBook</name>
        <label>Assign Global Default</label>
        <locationX>1294</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Blank_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>PriceBook</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Defaults</name>
        <label>Update Quote Defaults</label>
        <locationX>1214</locationX>
        <locationY>1406</locationY>
        <inputReference>IN_Quote</inputReference>
    </recordUpdates>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Blank_PriceBook</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IN_Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>PriceBook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>IN_Quote.SBQQ__PriceBook__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PrimaryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>IN_Quote.SBQQ__PrimaryContact__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>IN_Quote.SBQQ__StartDate__c</elementReference>
        </value>
    </variables>
</Flow>
