force-app/main/default/flows/RevenueCloud_DeleteRelated_OrderProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>1588</locationX>
        <locationY>1584</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Records_Asset</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Asset</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_OrderProduct</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_Asset</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_BillingSechedule</name>
        <label>Billing Sechedule</label>
        <locationX>1368</locationX>
        <locationY>1023</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Records_BillingSchedule</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>blng__BillingSchedule__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_Billing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>blng__BillingSchedule__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_BillingSchedule</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_DiscountSchedule</name>
        <label>Get Discount Schedule</label>
        <locationX>1342</locationX>
        <locationY>1584</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Subscription</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>SBQQ__DiscountSchedule__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_OrderProduct</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>SBQQ__DiscountSchedule__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_DiscountSchedule</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_OrderProductConsumptionSchedule</name>
        <label>Get Order Product Consumption Schedule</label>
        <locationX>979</locationX>
        <locationY>1584</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Filters_DiscountSchedule</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>SBQQ__OrderItemConsumptionSchedule__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_OrderItem</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>SBQQ__OrderItemConsumptionSchedule__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_OrderProductConsumptionSchedule</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Revenue_Schedule</name>
        <label>Get Revenue Schedule</label>
        <locationX>1241</locationX>
        <locationY>1023</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_BillingSechedule</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>blng__RevenueSchedule__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id,blng__OrderProduct__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_Billing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>blng__RevenueSchedule__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_RevenueSchedule</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Subscription</name>
        <label>Get Subscription</label>
        <locationX>1463</locationX>
        <locationY>1584</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>SBQQ__Subscription__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_OrderProduct</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>SBQQ__Subscription__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_Subscription</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Usage</name>
        <label>Get Usage</label>
        <locationX>973</locationX>
        <locationY>1023</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_UsageSummary</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>blng__Usage__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id,blng__OrderProduct__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_Billing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>blng__Usage__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_Usage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_UsageSummary</name>
        <label>Get Usage Summary</label>
        <locationX>1103</locationX>
        <locationY>1023</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Revenue_Schedule</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>blng__UsageSummary__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id,blng__OrderProduct__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>AND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>Filters_Billing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>blng__UsageSummary__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Queue_UsageSummary</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Filters_BillingObjects</name>
        <label>Set Filters - Billing Objects</label>
        <locationX>845</locationX>
        <locationY>1023</locationY>
        <assignmentItems>
            <assignToReference>Filters_Billing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Billing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Usage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Filters_CPQ</name>
        <label>Set Filters - CPQ Objects</label>
        <locationX>848</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>Filters_OrderItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_OrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OrderProductConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Filters_DiscountSchedule</name>
        <label>Set Filters - Discount Schedule</label>
        <locationX>1223</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>Filters_OrderProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_OrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_DiscountSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Queue</name>
        <label>Add to Queue</label>
        <locationX>1007</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>Queue_OrderProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error</name>
        <label>Error</label>
        <locationX>2347</locationX>
        <locationY>1597</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Filters_BillingObjects</name>
        <label>Assign Filters - Billing Objects</label>
        <locationX>845</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>Filter_Billing.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>blng__OrderProduct__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_Billing.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_Billing.fieldCollectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProducts_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Filters_BillingObjects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filters_CPQObjects</name>
        <label>Assign Filters - CPQ Objects</label>
        <locationX>849</locationX>
        <locationY>1425</locationY>
        <assignmentItems>
            <assignToReference>Filter_OrderItem.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SBQQ__OrderItem__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_OrderItem.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_OrderItem.fieldCollectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProducts_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Filters_CPQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filters_DiscountSchedule</name>
        <label>Assign Filters - Discount Schedule</label>
        <locationX>1103</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>Filter_OrderProduct.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SBQQ__OrderProduct__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_OrderProduct.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_OrderProduct.fieldCollectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProducts_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Filters_DiscountSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success</name>
        <label>Success</label>
        <locationX>833</locationX>
        <locationY>2022</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Test_Variable</name>
        <label>Add Test Variable</label>
        <locationX>655</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>OrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Single_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_ID_to_CollectionVariable</name>
        <label>Copy ID to Collection Variable</label>
        <locationX>1133</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>OrderProducts_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Edit_Record</name>
        <label>Edit Record</label>
        <locationX>1010</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>Loop_Records.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Records.SBQQ__Contracted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_ID_to_CollectionVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_InputVariable</name>
        <label>Use Input Variable</label>
        <locationX>820</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>OrderProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_OrderProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Records</name>
        <label>Found Records?</label>
        <locationX>728</locationX>
        <locationY>580</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Asset</name>
        <label>Found Records?</label>
        <locationX>1580</locationX>
        <locationY>1733</locationY>
        <defaultConnector>
            <targetReference>Found_Records_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_BillingSchedule</name>
        <label>Found Records?</label>
        <locationX>1361</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Found_Records_RevenueSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BillingSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_BillingSchedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_BillingSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_DiscountSchedule</name>
        <label>Found Records?</label>
        <locationX>1334</locationX>
        <locationY>1736</locationY>
        <defaultConnector>
            <targetReference>Found_Records_OrderProductConsumptionSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DiscountSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_DiscountSchedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_DiscountSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_OrderProductConsumptionSchedule</name>
        <label>Found Records?</label>
        <locationX>972</locationX>
        <locationY>1743</locationY>
        <defaultConnector>
            <targetReference>Assign_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OrderProductConsumptionSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_OrderProductConsumptionSchedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_OrderProductConsumptionSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_RevenueSchedule</name>
        <label>Found Records?</label>
        <locationX>1237</locationX>
        <locationY>1165</locationY>
        <defaultConnector>
            <targetReference>Found_Records_UsageSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RevenueSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_RevenueSchedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_RevenueSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Subscription</name>
        <label>Found Records?</label>
        <locationX>1455</locationX>
        <locationY>1736</locationY>
        <defaultConnector>
            <targetReference>Found_Records_DiscountSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Subscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Subscription</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_Usage</name>
        <label>Found Records?</label>
        <locationX>970</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Assign_Filters_CPQObjects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Usage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Usage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Usage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_UsageSummary</name>
        <label>Found Records?</label>
        <locationX>1102</locationX>
        <locationY>1168</locationY>
        <defaultConnector>
            <targetReference>Found_Records_Usage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsageSummary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_UsageSummary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_UsageSummary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Test</name>
        <label>Is Test?</label>
        <locationX>725</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Use_InputVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IN_OrderProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Fixed the filter for the Discount Schedule</description>
    <interviewLabel>Revenue Cloud - Delete Related - Order Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Delete Related - Order Product</label>
    <loops>
        <name>Loop_Records</name>
        <label>Loop through Records</label>
        <locationX>846</locationX>
        <locationY>705</locationY>
        <collectionReference>OrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Edit_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Filters_BillingObjects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Asset</name>
        <label>Asset</label>
        <locationX>1590</locationX>
        <locationY>1897</locationY>
        <connector>
            <targetReference>Found_Records_Subscription</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>Queue_Asset</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_BillingSchedule</name>
        <label>Billing Schedule</label>
        <locationX>1370</locationX>
        <locationY>1312</locationY>
        <connector>
            <targetReference>Found_Records_RevenueSchedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>Queue_BillingSchedule</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_DiscountSchedule</name>
        <label>Discount Schedule</label>
        <locationX>1348</locationX>
        <locationY>1901</locationY>
        <connector>
            <targetReference>Found_Records_OrderProductConsumptionSchedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>Queue_DiscountSchedule</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_OrderProductConsumptionSchedule</name>
        <label>Order Product Consumption Schedule</label>
        <locationX>974</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>Assign_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>Queue_OrderProductConsumptionSchedule</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_RevenueSchedule</name>
        <label>Revenue Schedule</label>
        <locationX>1243</locationX>
        <locationY>1316</locationY>
        <connector>
            <targetReference>Found_Records_UsageSummary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>Queue_RevenueSchedule</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Subscription</name>
        <label>Subscription</label>
        <locationX>1480</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Found_Records_DiscountSchedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>Queue_Subscription</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Usage</name>
        <label>Usage</label>
        <locationX>977</locationX>
        <locationY>1315</locationY>
        <connector>
            <targetReference>Assign_Filters_CPQObjects</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>Queue_Usage</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_UsageSummary</name>
        <label>Usage Summary</label>
        <locationX>1110</locationX>
        <locationY>1312</locationY>
        <connector>
            <targetReference>Found_Records_Usage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>Queue_UsageSummary</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Single_Record</name>
        <label>Get Single Record</label>
        <locationX>652</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Test_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IN_OrderProduct</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Test</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Filter_Billing</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filter_OrderItem</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filter_OrderProduct</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filters_Billing</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filters_OrderItem</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filters_OrderProduct</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_OrderProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_OrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProducts_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Queue_Asset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Queue_BillingSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__BillingSchedule__c</objectType>
    </variables>
    <variables>
        <name>Queue_DiscountSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__DiscountSchedule__c</objectType>
    </variables>
    <variables>
        <name>Queue_OrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Queue_OrderProductConsumptionSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__OrderItemConsumptionSchedule__c</objectType>
    </variables>
    <variables>
        <name>Queue_RevenueSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__RevenueSchedule__c</objectType>
    </variables>
    <variables>
        <name>Queue_Subscription</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <name>Queue_Usage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>Queue_UsageSummary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
