force-app/main/default/flows/RevenueCloud_RevenueSchedule_InheritAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Linked_to</name>
        <label>Linked to</label>
        <locationX>490</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>OrderProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__OrderProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherit_from_OrderProduct</targetReference>
            </connector>
            <label>Order Product</label>
        </rules>
        <rules>
            <name>InvoiceLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__InvoiceLine__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherit_from_InvoiceLine</targetReference>
            </connector>
            <label>Invoice Line</label>
        </rules>
        <rules>
            <name>CreditNoteLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__CreditNoteLine__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Credit Note Line</label>
        </rules>
        <rules>
            <name>DebitNoteLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__DebitNoteLine__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Debit Note Line</label>
        </rules>
    </decisions>
    <interviewLabel>RevenueCloud_RevenueSchedule_InheritAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenue Cloud - Revenue Schedule - Inherit Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Inherit_from_InvoiceLine</name>
        <label>Inherit from Invoice Line</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>blng__Account__c</field>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.blng__Invoice__r.blng__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Inherit_from_OrderProduct</name>
        <label>Inherit from Order Product</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>blng__Account__c</field>
            <value>
                <elementReference>$Record.blng__OrderProduct__r.Order.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Linked_to</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>blng__RevenueSchedule__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
